registry=https://registry.npmjs.org
# electron_mirror=https://npmmirror.com/mirrors/electron/
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
# proxy=http://127.0.0.1:7890
